/*My css*/

.div {
    width: 100px;
    height: 100px;
}
.redc {
    background-color: red;
}
.yellowc {
    background-color: yellow;
}
.blackc {
    background-color: black;
}
.bluec {
    background-color: blue;
}